# Real Estate Clean up

This is a real dataset and it was downloaded using web scraping techniques. The data contains registers from fotocasa which is one of the most popular websites of real estate in Spain. Please, do not do this (web scraping) unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro and In no case were economic returns obtained from it.

It contains thousands of data from real houses published on the web www.fotocasa.com. Your goal is to extract as much information as possible with the knowledge you have so far about data science, for example what is the most expensive house in the entire dataset?

Let's start with precisely that question... Good luck!

#### Exercise 00. Read the dataset assets/real_estate.csv and try to visualize the table (★☆☆)

In [3]:
import pandas as pd

# this CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')

/tmp/ipykernel_33246/1871672835.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### Exercise 01. Which is the most expensive house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address General Street Nº5 is the most expensive and its price is 5000000 USD`

In [3]:
# TODO
#most expensive house
Most_expensive = ds['price'].max()
print(Most_expensive)

8500000

#### Exercise 02. Which is cheapest house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address Concrete Street Nº1 is the cheapest and its price is 12000 USD`

In [4]:
# TODO
#cheapest house
cheapest_house = ds['price'].min()
print(cheapest_house)

0

#### Exercise 03. Which is the biggest and the smallest house in the dataset? (★☆☆)

Print both the address and the surface of the selected houses. For example:

`The bigger house is located on Yukka Street Nº10 and its surface is 5000 meters`

`The smaller house is located on County Road 1 N and its surface is 200 meters`

In [6]:
# TODO
#Biggest house 
Biggest_house = ds['surface'].max()
House_address = ds['address']
print(Biggest_house, House_address)

#smallest house
small_house = ds['surface'].min()
House_address = ds['address']
print(small_house, House_address)

249000.0 0        Calle Presidente Felipe Gonzalez, Arganda del Rey
1                         Calle Polvoranca, 6, Fuenlabrada
2                Calle Reyes Católicos, Boadilla del Monte
3                           Barrio San Andres, Fuenlabrada
4                                          Arganda del Rey
                               ...
15330                                       Madrid Capital
15331                               Velilla de San Antonio
15332                                         Torrelodones
15333                               Velilla de San Antonio
15334              Paseo de la Castellana,  Madrid Capital
Name: address, Length: 15335, dtype: object
15.0 0        Calle Presidente Felipe Gonzalez, Arganda del Rey
1                         Calle Polvoranca, 6, Fuenlabrada
2                Calle Reyes Católicos, Boadilla del Monte
3                           Barrio San Andres, Fuenlabrada
4                                          Arganda del Rey
                               ...
15330                                       Madrid Capital
15331                               Velilla de San Antonio
15332                                         Torrelodones
15333                               Velilla de San Antonio
15334              Paseo de la Castellana,  Madrid Capital
Name: address, Length: 15335, dtype: object

#### Exercise 04. How many populations (level5 column) the dataset contains? (★☆☆)

Print the name of the populations with comma as separator. For example:

`> print(populations)`

`population1, population2, population3,...`

In [4]:
# TODO
#populations
ds = ds
unique_populations = ds['level5'].unique()  # Make sure 'level5' is the correct column name

# Convert the array of unique values to a string with comma separation
populations = ', '.join(map(str, unique_populations))

# Print the populations
print(populations)

Arganda del Rey, Fuenlabrada, Boadilla del Monte, Las Rozas de Madrid,  Madrid Capital, Villaviciosa de Odón, Pinto, Valdemoro, Navalcarnero, Pozuelo de Alarcón, Torrejón de Ardoz, Navalagamella, San Sebastián de los Reyes, Rivas-vaciamadrid, Alpedrete, Móstoles, San Fernando de Henares, Coslada, Becerril de la Sierra, Alcalá de Henares, Chinchón, Parla, Alcorcón, El Escorial, Leganés, Pedrezuela, Majadahonda, Villanueva de la Cañada, Villanueva del Pardillo, Torrelodones, Moralzarzal, Mejorada del Campo, Aranjuez, Corpa, Getafe, Velilla de San Antonio, Sevilla la Nueva, San Martín de la Vega, Villalbilla, Collado Villalba, Alcobendas, El Molar (Madrid), Moraleja de Enmedio, Algete, Campo Real, Torrejón de la Calzada, Colmenar Viejo, Valdemorillo, Fuente El Saz de Jarama, Tres Cantos, Arroyomolinos (Madrid), Griñón, Paracuellos de Jarama, Guadarrama, Titulcia, Galapagar, Collado Mediano, Los Molinos, San Lorenzo de El Escorial, Loeches, San Martín de Valdeiglesias, Navas del Rey, Bustarviejo, Manzanares El Real, Carabaña, Casarrubuelos, Cercedilla, Fresnedillas de la Oliva, Valdemaqueda, Robledo de Chavela, Miraflores de la Sierra, Humanes de Madrid, Valdetorres de Jarama, San Agustín del Guadalix, Ciempozuelos, Camarma de Esteruelas, Torres de la Alameda, Talamanca de Jarama, El Atazar, Hoyo de Manzanares, El Boalo - Cerceda – Mataelpino, El Álamo, Valdilecha, Valdeolmos-Alalpardo, Guadalix de la Sierra, Belmonte de Tajo, El Vellón, Brunete, Redueña, Morata de Tajuña, Tielmes, Gargantilla del Lozoya, Meco, Venturada, Quijorna, Cenicientos, Torrejón de Velasco, Navacerrada, Santa María de la Alameda, Orusco de Tajuña, Daganzo de Arriba, Villamanta, Anchuelo, Valdaracete, Ajalvir, Los Santos de la Humosa, Villamanrique de Tajo, Colmenar de Oreja, Villa del Prado, Fuentidueña de Tajo, Colmenar del Arroyo, Valdelaguna, Cubas de la Sagra, Valdeavero, Aldea del Fresno, Ribatejada, Torrelaguna, Batres, Pezuela de las Torres, Colmenarejo, Serranillos del Valle, Cobeña, Soto del Real, El Berrueco, Villanueva de Perales, Fresno de Torote - Serracines, Pozuelo del Rey, Pelayos de la Presa, La Cabrera, Nuevo Baztán, Perales de Tajuña, Villaconejos, Villarejo de Salvanés, Cadalso de los Vidrios, Santorcaz, Madarcos, Garganta de los Montes, Puentes Viejas, Torremocha de Jarama, Valdemanco, Braojos, Lozoyuela-navas-sieteiglesias, Piñuécar-gandullas, Valdepiélagos, Valverde de Alcalá, Villar del Olmo, Villamantilla, Horcajo de la Sierra, Gascones, Zarzalejo, Villavieja del Lozoya, Brea de Tajo, Estremera, Chapinería, Navarredonda, Patones, Ambite, Navalafuente, Lozoya, Canencia, Cabanillas de la Sierra, Buitrago del Lozoya, Fresno de Torote, Robregordo, Pinilla del Valle, Rascafría, La Hiruela, Montejo de la Sierra

#### Exercise 05. Does the dataset contain NAs? (★☆☆)

Print a boolean value (`true` or `fase`) followed by the rows/cols that contains NAs.

In [8]:
import pandas as pd

# Assuming the file 'real_estate.csv' exists in the 'assets' directory and uses semicolons as separators
ds = pd.read_csv('assets/real_estate.csv', sep=';')

# Assuming that 'ds' is the variable holding your pandas DataFrame.
# Replace 'ds' with the actual name of your DataFrame variable.
if ds.isna().any().any():
    print("True")
    # To find the rows/cols that contain NAs
    rows_with_na = ds[ ds.isna().any( axis=1 ) ]
    cols_with_na = ds.columns[ ds.isna().any() ]
    print("Rows with NAs:")
    print(rows_with_na)
    print("Columns with NAs:")
    print(cols_with_na)
else:
    print("False")

/tmp/ipykernel_836/2610505325.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

True
Rows with NAs:
       Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0               1       153771986  False            ferrari 57 inmobiliaria
1               2       153867863  False  tecnocasa fuenlabrada ferrocarril
2               3       153430440  False                 look find boadilla
3               4       152776331  False  tecnocasa fuenlabrada ferrocarril
4               5       153180188  False            ferrari 57 inmobiliaria
...           ...             ...    ...                                ...
15330       15331       153901377  False                infocasa consulting
15331       15332       150394373  False                inmobiliaria pulpon
15332       15333       153901397  False             tecnocasa torrelodones
15333       15334       152607440  False                inmobiliaria pulpon
15334       15335       153901356  False                infocasa consulting

       phone_realEstate                                       url_inmueble  \
0           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
1           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
2           916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
4           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15330       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15331       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15332       912780348.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15333       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15334       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface   price  ... level4Id level5Id level6Id  \
0        3.0        2.0    103.0  195000  ...        0        0        0
1        3.0        1.0      NaN   89000  ...        0        0        0
2        2.0        2.0     99.0  390000  ...        0        0        0
3        3.0        1.0     86.0   89000  ...        0        0        0
4        2.0        2.0    106.0  172000  ...        0        0        0
...      ...        ...      ...     ...  ...      ...      ...      ...
15330    2.0        1.0     96.0  259470  ...        0        0        0
15331    3.0        1.0    150.0  165000  ...        0        0        0
15332    4.0        2.0    175.0  495000  ...        0        0        0
15333    3.0        2.0    101.0  195000  ...        0        0        0
15334    3.0        2.0    152.0  765000  ...        0        0        0

      level7Id level8Id accuracy          latitude          longitude zipCode  \
0            0        0        0  40,2948276786438  -3,44402412135624     NaN
1            0        0        1          40,28674           -3,79351     NaN
2            0        0        0  40,4115646786438  -3,90662252135624     NaN
3            0        0        0  40,2853785786438  -3,79508142135624     NaN
4            0        0        0  40,2998774864376  -3,45226301356237     NaN
...        ...      ...      ...               ...                ...     ...
15330        0        0        0          40,45416           -3,70286     NaN
15331        0        0        0          40,36652           -3,48951     NaN
15332        0        0        0          40,57444           -3,92124     NaN
15333        0        0        0          40,36967           -3,48105     NaN
15334        0        0        0          40,45773           -3,69068     NaN

      customZone
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
15330        NaN
15331        NaN
15332        NaN
15333        NaN
15334        NaN

[15335 rows x 37 columns]
Columns with NAs:
Index(['realEstate_name', 'phone_realEstate', 'rooms', 'bathrooms', 'surface',
       'description', 'level4', 'level6', 'level7', 'level8', 'zipCode',
       'customZone'],
      dtype='object')

#### Exercise 06. Delete the NAs of the dataset, if applicable (★★☆)

Print a comparison between the dimensions of the original DataFrame versus the DataFrame after the deletions

In [22]:
# TODO
import pandas as pd

# Load the dataset
ds = pd.read_csv('assets/real_estate.csv', sep=';')

# Calculate the total number of NAs in each column
Total_nas = ds.isna().sum()
print("Total NAs in each column:\n", Total_nas)

# Original dimensions
original_dimension = ds.shape
print("Original dimensions:", original_dimension)

# Remove rows with NAs
ds_clean = ds.dropna()

# Dimensions after removing NAs
new_dimension = ds_clean.shape
print("Dimensions after removing NAs:", new_dimension)

# Print a comparison
print("Comparison of dimensions:\nOriginal:", original_dimension, "\nAfter removal of NAs:", new_dimension)

Total NAs in each column:
 Unnamed: 0              0
id_realEstates          0
isNew                   0
realEstate_name        10
phone_realEstate      794
url_inmueble            0
rooms                 353
bathrooms             345
surface              1250
price                   0
date                    0
description           142
address                 0
country                 0
level1                  0
level2                  0
level3                  0
level4               6643
level5                  0
level6              14627
level7               2277
level8               8579
upperLevel              0
countryId               0
level1Id                0
level2Id                0
level3Id                0
level4Id                0
level5Id                0
level6Id                0
level7Id                0
level8Id                0
accuracy                0
latitude                0
longitude               0
zipCode             15335
customZone          15335
dtype: int64
Original dimensions: (15335, 37)
Dimensions after removing NAs: (0, 37)
Comparison of dimensions:
Original: (15335, 37)
After removal of NAs: (0, 37)

#### Exercise 07. Which is the mean of prices in the population (level5 column) of "Arroyomolinos (Madrid)"? (★★☆)

Print the obtained value

In [ ]:
# TODO

#### Exercise 08. Plot the histogram of prices for the population (level5 column) of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write in the Markdown cell a brief analysis about the plot.

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 09. Is the average of "Valdemorillo" and "Galapagar" prices the same? (★★☆)

Print the both average prices and then write a conclusion about them

In [ ]:
# TODO

#### Exercise 10. Is the average of "Valdemorillo" and "Galapagar" price per square meter (price/m2) the same? (★★☆)

Print the both average prices and then write a conclusion about

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [ ]:
# TODO

#### Exercise 11. Analyse the relation between the surface and the price of the houses (★★☆)

Hint: You can make a `scatter plot` and then write a conclusion about it

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 12. How many real estate agencies the dataset contains? (★★☆)

Print the obtained value

In [ ]:
# TODO

#### Exercise 13. Which is the population (level5 column) that contains the most houses? (★★☆)

Print both the population and the number of houses

In [ ]:
# TODO

#### Exercise 14. Now let's work with the "south belt" of madrid. Make a subset of the original DataFrame that contains the following populations (level5 column): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

Hint: Filter the original DataFrame using the column `level5` and the function `isin`

In [ ]:
# TODO

#### Exercise 15. Make a bar plot of the median of the prices and explain what you observe (you must use the subset obtained in the question 14) (★★★)

Print the bar of the median of the prices and write in the Markdown cell a brief analysis about the plot

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 16. Calculate the sample mean and variance of the variables: price, rooms, surface area and bathrooms (you must use the subset obtained in the question 14) (★★★)

Print both values for each variable

In [ ]:
# TODO

#### Exercise 17. What is the most expensive house of each population? You must use the subset obtained in the question 14 (★★☆)

Print both the address and the price of the selected house of each population. You can print a DataFrame or a single line for each population

In [ ]:
# TODO

#### Exercise 18. Normalize the variable of prices for each population and plot the 4 histograms in the same plot (you must use the subset obtained in the question 14) (★★★)

For the normalization method you can use the one you consider to, there is not a single correct answer to this question. Print the plot and write in the Markdown cell a brief analysis about the plot

Hint: You can help yourself reviewing the multihist demo of Matplotlib

In [ ]:
# TODO

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 19. What can you say about the price per square meter (price/m2) between the towns of "Getafe" and "Alcorcón"? You must use the subset obtained in the question 14 (★★☆)

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [ ]:
# TODO

#### Exercise 20. Make the same plot for 4 different populations (level5 column) and rearrange them on the same graph? You must use the subset obtained in the question 14 (★★☆) 
Hint: make a scatter plot of each population using subplots.

In [ ]:
# TODO

#### Exercise 21. Make a plot of the coordinates (latitude and longitude columns) of the south belt of Madrid by color of each population (you must use the subset obtained in the question 14) (★★★★)

Execute the following cell and then start coding in the next one. You must implement a simple code that transform the coordinates columns in a Python dictionary (add more information if needed) and then add it to the map

In [ ]:
from ipyleaflet import Map, basemaps

# Map centred on (60 degrees latitude et -2.2 degrees longitude)
# Latitude, longitude
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## HERE: plot the coordinates of the estates

## PUT HERE YOUR CODE: